<legend>myCRM Inventory</legend>
<div class="well" id="contact-well">
  <ul>
    <% @inventory.each do |inventory| %>
    <ul>
          <table class="table table-striped table-hover ">
            <tbody>
              <thead>
                <tr>
                  <th>Fields:</th>
                  <th>Description:</th>
                </tr>
              </thead>
              <tr class="active">
                <td>Brand</td>
                <td><%= inventory.item_brand %></td>
              </tr>
              <tr class="active">
                <td>Type</td>
                <td><%= inventory.item_type %></td>
              </tr>
              <tr class="active">
                <td>Color</td>
                <td><%= inventory.item_color %></td>
              </tr>
              <tr class="active">
                <td>Quantity</td>
                <td><%= inventory.item_quantity %></td>
              </tr>
              <tr class="active">
                <td>Unit Cost ($)</td>
                <td><%= inventory.item_cost %></td>
              </tr>
              <tr class="active">
                <td>Sales Price ($)</td>
                <td><%= inventory.item_sales_price %></td>
              </tr>
              <tr class="active">
                <td>Notes</td>
                <td><%= inventory.item_note %></td>
              </tr>

            </tbody>
          </table> 
          <form action="/inventory/ <%= inventory.item_id %>" method="post" id="delete-inventory-form">
            <input name="_method" type="hidden" value="delete"/>
            <a class="btn btn-default" href="/inventory/<%= inventory.item_id %>/edit">Edit</a> 
            <input class="btn btn-default" type="submit" value="Delete"/>
          </form>
        <p>
      </ul>
    <% end %>
  </ul>
</div>

