<p>Brand: <%= inventory.item_brand %><br> 
   Type: <%= inventory.item_type %><br>
   Color: <%= inventory.item_color %><br>
   Quantity: <%= inventory.item_quantity %><br>
   Unit Cost: <%= inventory.item_cost %><br>
   Sales Price: <%= inventory.item_sales_price %><br>
   Notes: <%= inventory.item_note %> </p>

<form action="/inventory/<%= @inventory.item_id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete">
</form>