<p>
		First Name:<%= contact.first_name %><br> 
    Last Name: <%= contact.last_name %><br>
   	Email: <%= contact.email %><br>
	 	Notes: <%= contact.note %> 
<p>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete">
</form>